steps:
  - name: gcr.io/cloud-builders/docker
    args:
      - build
      - -f
      - Dockerfile.gem
      - -t
      - ${_REGISTRY}/gem-${_GEM_ID}:${_GEM_VERSION}
      - .
    dir: gems/${_GEM_ID}
  - name: gcr.io/cloud-builders/docker
    args:
      - push
      - ${_REGISTRY}/gem-${_GEM_ID}:${_GEM_VERSION}
substitutions:
  - _REGISTRY=gcr.io/ai-universe-2025
  - _GEM_ID=PLACEHOLDER
  - _GEM_VERSION=PLACEHOLDER
options:
  logging: CLOUD_LOGGING_ONLY
images:
  - ${_REGISTRY}/gem-${_GEM_ID}:${_GEM_VERSION}
